
/******* DEFAULTS ******************************************************/

html,body {
  height: 100%;
}

body {
  margin:0px;
  font-family: 'Comfortaa', sans-serif;
  background-color: #f8fdff;
  font-size:18pt;
  color: #265f7a;
  line-height: 1.8;
  
}


.strip {
  width: 100%;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 12px;
}
div.strip p {
  font-size: 22pt;
  margin: 6px; 
}

.noMargin {
  margin: 0px;
}

.pad {
  padding-left: 6%;
  padding-right: 6%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-20 {width: 20%;}
.col-30 {width: 30%;}
.col-40 {width: 40%;}
.col-50 {width: 50%;}
.col-60 {width: 60%;}
.col-70 {width: 70%;}
.col-80 {width: 80%;}
.col-25 {width: 25%;}
.col-75 {width: 75%;}
.col-33 {width: 33.33%;}
.col-67 {width: 66.66%;}
.col-100 {width: 100%;}

* {
  box-sizing: border-box;
}

.noMargin {
  margin: 0px;
}
div.noPad {
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  margin: 0;
  padding-top:12px;
  background-color: #d0d9df;
  background: linear-gradient(to bottom, #ecf3ff, #ffffff);
  border-top: 1px solid #d0d7e2;
}
.whiteSpace {
  height: 170px;
}

/* hide the footer if a keyboard comes up */
@media (pointer:none), (pointer:coarse) {
  footer.keyboardOpen {
    position: static;
  }
  .whiteSpace.keyboardOpen {
    height: 0;
  }
}

p, input, select, .pad, footer, .whiteSpace, header.banner, header.gameBanner, h1, h2, .iconContainer, .iconContainer > * {
  transition-duration: 0.4s;
}

/******* COLORED TEXT & BACKS ***************************************************/

.greenText {
  color: #10b864;
}
.darkgreenText {
  color: #2d7c2d;
}
.tealText {
  color: #0fa099;
}
.blueText {
  color: #3154c5;
}

.greenBack {
  background-color: #10b864;
}
.darkgreenBack {
  background-color: #2d7c2d;
}


form input[type="submit"].greenHover:hover {
  background: #10b864;
}  
form input[type="submit"].darkgreenHover:hover {
  background: #2d7c2d;
}  
form input[type="submit"].blueHover:hover {
  background: #3154c5;
}  
form input[type="submit"].tealHover:hover {
  background: #2bafa8;
}  

.greyBack {
  background-color: #eff6f9;
  background: linear-gradient(to bottom, #eff6f9, #f8fdff);
}

.colorChoices {
  line-height: 480px;
  color: #eeeeee;
  font-size: 28pt;
  cursor: pointer;
}
.colorCorrect {
  line-height: 480px;
  color: #eeeeee;
  font-size: 42pt;
  background-color: #279235;
}
.colorIncorrect {
  line-height: 480px;
  color: #eeeeee;
  font-size: 42pt;
  background-color: #c71d1d;
}
div.yesNo .colorChoices {
  line-height: 360px;
}
div.yesNo .colorCorrect {
  line-height: 360px;
}
div.yesNo .colorIncorrect {
  line-height: 360px;
}
div.yesNo p#questionText {
  padding: 15pt 0 40pt 0;
  margin: 0;
  font-size: 25pt;
  line-height: 30pt;
}
.colorChoice1 {
  background-color: #ce762e;
}
.colorChoice2 {
  background-color: #3154c5;
}
.colorChoiceYes {
  background-color: #2bafa8;
}
.colorChoiceNo {
  background-color: #e07f59;
}
@media (pointer:fine) {
  .colorChoice1:hover {
    background-color: #f08126;
  }
  .colorChoice2:hover {
    background-color: #3560eb;
  }
  .colorChoiceYes:hover {
    background-color: #24c9c1;
  }
  .colorChoiceNo:hover {
    background-color: #f8895d;
  }
}
[class*="colorChoice"] {
  transition-duration: 0.4s;
}

/********** Forms *******************************************************/

input {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* get rid of blue highlight on mobile */
}

form#frmEnterPlayers p {
  padding-bottom: 6px;
  margin-bottom: 0;
  padding-top: 12px;
  line-height: 1;
}

form input[type="number"] {
  height: 75px;
  width: 85px;
  font-size: 32pt;
  text-align: center;
  border: 1px solid #343536;
  border-radius: 5px;
  background: #fdfeff;
  color: #333344;
  font-family: 'Comfortaa', sans-serif;
  margin: 12px 8px 18px 8px;
}
form input[type="submit"], form input[type="button"] {
  font-size: 24pt;
  text-align: center;
  border: none;
  border-radius: 40px;
  border-style: none;
  background: #99aabb;
  color: #fafaff;
  margin: auto;
  margin: 12px 0px;
  width: 100%;
  max-width: 640px;
  height: 80px;
  font-family: 'Comfortaa', sans-serif;
  cursor: pointer;
  transition-duration: 0.3s;
}

form input[type="submit"]:active, form input[type="button"]:active {
  transform: scale(0.95);
}

form#frmYesNo input[type="submit"] {
  margin: 12px 6px;
  width: 45%;
}
form input[type="submit"]:focus, form input[type="button"]:focus {
  outline: 0;
}


form input[type="submit"]:disabled,
form input[type="submit"]:disabled:hover {
  background: #484c53;
  color: #7d7d85;
  cursor: default;
}


form.frmAnswer input[type="submit"] {
  width: 95%;
  margin: 12px 0px 0px 0px;
}

input[type="text"] {
  height: 60px;
  width: 95%;
  font-size: 32pt;
  text-align: left;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  background: #ffffff;
  color: #333344;
  font-family: 'Comfortaa', sans-serif;
  padding-left: 12px;
  margin-bottom: 10px;
  margin-top: 20px;
  outline: 0;
}

form input.playerNameInput {
  max-width: 600px;
  text-align: center;
}



select {
  font-size: 36pt;
  font-family: 'Comfortaa', sans-serif;
  margin: 12px;
  padding: 10px 10px 10px 20px;
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  outline-width: 0;
  background: white;
}




/******** Special Styling **********************************************/


header.banner, header.gameBanner {
  padding: 64px 12px;
  text-align: center;
}
header.gameBanner {
  border-bottom: 1px solid #dde2eb;
}

header.banner h1, 
header.banner h2,
header.gameBanner h1 {
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

header.banner h1 {
  font-weight: 900;
  font-size: 96pt;
  color: #44ccff;
}

header.banner h2 {
  font-size:40pt;
  color: #889faa;
  text-transform: uppercase;
  letter-spacing: 8px;
  word-spacing: -5px;
}

header.gameBanner h1 {
  font-size:52pt;
  color: #889faa;
  text-transform: uppercase;
  letter-spacing: 6px;
}

#gameHeader {
  font-size: 28pt;
  font-weight: 700; 
} 
#nextPlayer {
  font-size: 80pt;
  font-weight: 700;
  line-height: 72pt;
  padding: 60pt 0 36pt 0;
} 
#instructions p {
  font-size: 22pt;
  padding: 10pt 0;
}

div.gameLinks h2 {
  margin: 0px 0px 10px 0px;
  font-size: 28pt;
}

div.gameLinks a {
  display: block;
  margin: auto;
  margin-bottom: 40px;
  font-size: 24pt;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #889faa;
  border-radius: 50px;
  width: 95%;
  line-height: 100px;
  transition-duration: 0.3s;
}

div.gameLinks a:hover {
  color: #ffffff;
  background-color: #44ccff;
  transform: scale(1.05);
}


form#frmButtons input[type="submit"] {
  width: 100%;
  max-width: 800px;
  margin-bottom: 24px;
}

form input.btnNum {
  width: 31%;
  max-width: 200px;
  height: 60px;
  border-radius: 20px;
  margin: 0px 2px 12px 2px;
}

form input.btnGender {
  width: 45%;
  max-width: 250px;
  height: 60px;
  border-radius: 20px;
  margin: 10px 4px 50px 4px;
  font-size:24pt;
  transform: translateY(0px);
}

form input[type="button"].greenSelected {
  background-color: #10b864;
}
form input[type="button"].darkgreenSelected {
  background-color: #2d7c2d;
}

.iconContainer  {
  position: fixed; 
}
.iconContainer, .iconContainer > * {  
  height: 120px;
  width: 120px;
  top: 30px; 
  right: 30px;
}

div.rowNumbers {
  padding-top: 24px;
}

div#scoreBoard p {
  font-size: 28pt;
  font-weight: 800;
  padding-top: 8pt;
  padding-bottom: 20pt;
}


/*############ Mobile #############*/


@media screen and (max-width: 1080px) {

  .col-25 {
    width: 33.33%;
  }

  .col-50 {
    width: 100%;
  }

  .colorChoices {
    line-height: 240px;
  }
  div.yesNo .colorChoices {
    line-height: 180px;
  }
  div.yesNo p#questionText {
    font-size: 23pt;
    line-height: 27pt;
  }
}

@media screen and (max-width: 800px) {

  header.banner {
    padding: 24px 0px;
  }
  header.banner h1 {
    font-size: 72pt;
  }
  header.banner h2 {
    font-size:30pt;
  }
  div.gameLinks a {
    margin-bottom: 30px;
    font-size: 20pt;
    border-radius: 35px;
    line-height: 80px;
    width: 85%;
  }
  div.gameLinks h2 {
    font-size: 25pt;
  }

  .col-25 {
    width: 33.33%;
  }

  .col-50 {
    width: 100%;
  }

  .pad {
    padding-left: 3%;
    padding-right: 3%;
  }

  header.gameBanner h1 {
    font-size:40pt;
  }
  header.gameBanner {
    padding: 40px 0px;
  }

  .iconContainer, .iconContainer > * {  
    height: 95px;
    width: 95px;
    top: 20px; 
    right: 20px;
  }
  div.rowNumbers {
    padding-top: 0px;
  }
  div.yesNo p#questionText {
    font-size: 20pt;
    line-height: 25pt;
  }
}

@media screen and (max-width: 640px) {

  
  header.banner {
    padding: 12px 0px;
  }
  header.banner h1 {
    font-size: 54pt;
  }
  header.banner h2 {
    font-size:20pt;
  }
  div.gameLinks a {
    margin-bottom: 20px;
    font-size: 16pt;
    border-radius: 35px;
    line-height: 70px;
    width: 90%;
  }
  div.gameLinks h2 {
    font-size: 20pt;
  }
  

  .col-25 {
    width: 33.33%;
  }

  .col-50 {
    width: 100%;
  }

  header.gameBanner h1 {
    font-size:22pt;
    letter-spacing: 3pt;
    word-spacing: -3pt;
  }
  header.gameBanner {
    padding: 20px 0px;
  }
  
  @media (pointer:none), (pointer:coarse) {
    .colorChoices {
      line-height: 180px;
      font-size: 22pt;
    }
    .colorCorrect, .colorIncorrect {
      line-height: 360px;
    }
    div.yesNo .colorChoices {
      line-height: 145px;
    }
    div.yesNo .colorCorrect, div.yesNo .colorIncorrect {
      line-height: 290px;
    }
  }
  div.yesNo p#questionText {
    font-size: 16pt;
    line-height: 20pt;
  }


  #gameHeader {
    font-size: 20pt;
    margin-top: 0;
  } 
  #instructions p {
    font-size: 18pt;
    line-height: 1.6;
    padding: 3pt 3pt 0 3pt;
  } 

  #nextPlayer {
    font-size: 42pt;
    padding-top: 40pt;
  } 
  .iconContainer, .iconContainer > * {  
    height: 70px;
    width: 70px;
    top: 10px; 
    right: 10px;
  }
  header.gameBanner.moveLeft {
    padding-right: 40px;
  }

  form#frmYesNo input[type="submit"] {
    width: 47%;
    font-size: 17pt;
    height: 66px;
    border-radius: 33px;
    margin: 0px;
  }
  div.yesNo p#questionText {
    padding: 0pt 2pt 10pt 2pt;
  }
  form input[type="submit"] {
    font-size: 20pt;
    height: 66px;
    border-radius: 33px;
    margin: 0px 2px;
  }
  form input.btnNum {
    font-size: 20pt;
    height: 50px;
    width: 30%;
    margin: 0px 1px 12px 1px;
  }
  
  form input.btnGender {
    font-size: 20pt;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  form input.playerNameInput {
    height: 50px;
    font-size: 26pt;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  footer {
    height: 90px;
    padding-top:8px;
  }

  .whiteSpace {
    height: 100px;
  }

  select {
    font-size: 24pt;
    margin-top: 6px;
    padding: 8px 18px 8px 28px;
  }

  div#scoreBoard p {
    font-size: 26pt;
    padding-top: 4pt;
    padding-bottom: 16pt;
  }

}


@media (pointer:none), (pointer:coarse) {
  /* Turn off hover effects for mobile screens */
  form#frmButtons input[type="submit"] {
    background: #99aabb;
  }
  form input[type="submit"].greenHover {
    background: #10b864;
  }  
  form input[type="submit"].darkgreenHover {
    background: #2d7c2d;
  }  
  form input[type="submit"].blueHover {
    background: #3154c5;
  }  
  form input[type="submit"].tealHover {
    background: #2bafa8;
  }  
  form input[type="submit"]:disabled,
  form input[type="submit"]:disabled:hover {
    background: #484c53;
  }
}